In [2]:
class emp:
    name=""
    age=""
    sal=""
    def get_emp(self):
        return self.name,self.age, self.sal
naren = emp()
naren.name="NAREN"
naren.age=23
naren.sal=234343
print naren.get_emp()
anudeep = emp()
anudeep.name="ANUDEEP"
anudeep.age=23
anudeep.sal=234343
anudeep.get_emp()

('NAREN', 23, 234343)

('ANUDEEP', 23, 234343)

In [3]:
# constructor
class emp:
    name=""
    age=""
    sal=""
    def __init__(self):
        print "this is constructor"
        
    def get_emp(self):
        return self.name,self.age, self.sal
naren = emp()
anudeep = emp()

this is constructor
this is constructor

In [7]:
# constructor
class emp:
    name=""
    age=""
    sal=""
    def __init__(self,n1,a1,s1):
        self.name=n1
        self.age=a1
        self.sal=s1
        
    def get_emp(self):
        return self.name,self.age, self.sal
    def sal_cal(self):
        return self.sal+234
naren = emp('NAREN',23,345654345)
anudeep = emp('ANUDEEP',24,345790)

In [8]:
naren.get_emp()

('NAREN', 23, 345654345)

In [9]:
anudeep.get_emp()

('ANUDEEP', 24, 345790)

In [11]:
naren.sal_cal()

345654579

In [13]:
# constructor
class emp:
    name=""
    age=""
    sal=""
    def __init__(self,n1,a1,s1):
        self.name=n1
        self.age=a1
        self.sal=s1
        
    def get_emp(self):
        return self.name,self.age, self.sal
    def sal_cal(self):
        return self.sal+234
naren = emp('NAREN',23,345654345)
anudeep = emp('ANUDEEP',24,345790)

In [14]:
print naren

<__main__.emp instance at 0x0000000002831AC8>

In [15]:
naren.get_emp()

('NAREN', 23, 345654345)

In [16]:
# constructor
class emp:
    name=""
    age=""
    sal=""
    def __init__(self,n1,a1,s1):
        self.name=n1
        self.age=a1
        self.sal=s1
    def __str__(self):
        return "{0},{1},{2}".format(self.name,self.age,self.sal)
    def get_emp(self):
        return self.name,self.age, self.sal
    def sal_cal(self):
        return self.sal+234
naren = emp('NAREN',23,345654345)
anudeep = emp('ANUDEEP',24,345790)

In [17]:
print naren

NAREN,23,345654345

In [18]:
naren.sal_cal()

345654579

In [19]:
naren.get_emp()

('NAREN', 23, 345654345)

In [20]:
print emp

__main__.emp

In [21]:
print naren

NAREN,23,345654345

In [22]:
n1 = naren

In [23]:
n1

In [24]:
# constructor
class emp:
    name=""
    age=""
    sal=""
    def __init__(self,n1,a1,s1):
        self.name=n1
        self.age=a1
        self.sal=s1
        
    def get_emp(self):
        return self.name,self.age, self.sal
    def sal_cal(self):
        return self.sal+234
naren = emp('NAREN',23,345654345)
anudeep = emp('ANUDEEP',24,345790)

In [25]:
a=10
b=20

In [26]:
print a+b

30

In [27]:
print naren+anudeep

TypeError: unsupported operand type(s) for +: 'instance' and 'instance'

In [28]:
# constructor
class emp:
    name=""
    age=""
    sal=""
    def __init__(self,n1,a1,s1):
        self.name=n1
        self.age=a1
        self.sal=s1
    def get_emp(self):
        return self.name,self.age, self.sal
    def sal_cal(self):
        return self.sal+234
    def __add__(ins1,ins2):
        return "adition"
naren = emp('NAREN',23,345654345)
anudeep = emp('ANUDEEP',24,345790)
print naren+anudeep

adition

In [29]:
# constructor
class emp:
    name=""
    age=""
    sal=""
    def __init__(self,n1,a1,s1):
        self.name=n1
        self.age=a1
        self.sal=s1
    def get_emp(self):
        return self.name,self.age, self.sal
    def sal_cal(self):
        return self.sal+234
    def __add__(ins1,ins2):
        return ins1.name+ins2.name, ins1.sal+ins2.sal
naren = emp('NAREN',23,345654345)
anudeep = emp('ANUDEEP',24,345790)
print naren+anudeep

('NARENANUDEEP', 346000135)

In [30]:
# method overloading
# method overriding
# operator overloading

In [31]:
print 10+20
print "str1"+"str2"
print [1,2,3]+[4,5,6]

30
str1str2
[1, 2, 3, 4, 5, 6]

In [34]:
#method overloading
def fun1(a,b):
    return a+b
def fun1(a,b,c):
    return a+b+c
print fun1(10,20)

TypeError: fun1() takes exactly 3 arguments (2 given)

In [32]:
a=10
a=100

In [33]:
print a

100

In [36]:
#method overloading
def fun1(*a):
    return sum(a)

print fun1(10,20)
print fun1(10)
print fun1(100,200,300)

30
10
600

In [38]:
# inheritance
class c1:
    def o1(self):
        return "operation one"
class c2:
    def o2(self):
        return "operation two"
class c3:
    def operations(self):
        obj1 = c1()
        obj2 = c2()
        print obj1.o1()
        print obj2.o2()
o3 = c3()
o3.operations()

operation one
operation two

In [39]:
c3.operations()

TypeError: unbound method operations() must be called with c3 instance as first argument (got nothing instead)

In [40]:
c3.operations(o3)

operation one
operation two

In [41]:
o3.operations()

operation one
operation two

In [42]:
c3.operations()

TypeError: unbound method operations() must be called with c3 instance as first argument (got nothing instead)

In [43]:
# inheritance
class c1:
    def o1(self):
        return "operation one"
class c2:
    def o2(self):
        return "operation two"
class c3:
    def operations(self):
        print self.o1()
        print self.o2()
o3 = c3()
o3.operations()

AttributeError: c3 instance has no attribute 'o1'

In [45]:
# inheritance
class c1:
    def o1(self):
        return "operation one"
class c2:
    def o2(self):
        return "operation two"
class c3:
    def operations(self):
        print self.o1()
        print self.o2()
    def o1(self):
        return "operation one"
    def o2(self):
        return "operation two"
o3 = c3()
o3.operations()

operation one
operation two

In [46]:
# inheritance
class c1:
    def o1(self):
        return "operation one"
class c2:
    def o2(self):
        return "operation two"
class c3(c1,c2):
    def operations(self):
        print self.o1()
        print self.o2()
   
o3 = c3()
o3.operations()

operation one
operation two